@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "ROBOTO";
  src: url("../public/fonts/font-roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "OSWALD";
  src: url("../public/fonts/font-oswald/VNF-Oswald\ Regular.ttf");
}